<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdtb.database.mapper.ExamRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csdtb.database.entity.ExamRecordsEntity">
        <id column="id" property="id" />
        <result column="exam_id" property="examId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, exam_id, user_id
    </sql>
    <insert id="insertAndReturnId" useGeneratedKeys="true" keyProperty="id">
        insert into tb_exam_records
        (`exam_id`,`user_id`)
        values
        (#{entity.examId},#{entity.userId})
    </insert>

    <select id="selectPageByCondition" resultType="com.csdtb.database.entity.ExamRecordPageEntity">
        select record.id,exam.name,exam.status,exam.start_time,user.username
        from tb_exam_records record
        left join tb_exam_info exam on exam.id = record.exam_id
        left join tb_user_login user on user.id = record.user_id
        <where>
            <if test="userId != null">
                user.id = #{userId}
            </if>
            <if test="examName != null and examName != ''">
                and exam.name like concat('%',#{examName},'%')
            </if>
            <if test="userName != null and userName != ''">
                and user.username like concat('%',#{userName},'%')
            </if>
        </where>

    </select>

</mapper>
