<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdtb.database.mapper.SeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csdtb.database.entity.SeckillEntity">
        <id column="id" property="id" />
        <result column="stock" property="stock" />
        <result column="create_time" property="createTime" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stock, create_time, begin_time, end_time, update_time
    </sql>
    <update id="updateByCondition">
        update tb_seckill set stock = stock - 1 where id = #{seckillId} and stock > 0
    </update>

</mapper>
